body {
    margin: 0;
    padding: 0;
    background-color: rgb(56, 80, 123);
}

.banner {
  box-sizing: border-box;
  width: 100%; 
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: solid 3px rgb(222, 118, 14);
  margin-top: 0;
}

.banner-img {
    width: 100%;
    height: 12em;
    object-fit: cover;
}

.heading {
    position: absolute;
    font-size: 3.5em;
    color: rgb(28, 63, 126);
    text-shadow: 2px 2px 4px rgba(11, 8, 5, 0.5);
    top: 2em;
    border: 2px solid rgb(222, 118, 14);
    background-color: white;
    padding: 0.25em;
}

.btn {
    padding: 2em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
}

#filler-picture {
    width: 300px;
}

/* Small screens */
@media (max-width: 767px) {
    .banner-img {
      height: 8em;
    }
  
    .heading {
      font-size: 2em;
      top: 2.5em;
    }
  
    .btn {
      padding: 1em;
    }
  
    #filler-picture {
      width: 200px;
    }
  }
  
  /* Medium screens */
  @media (min-width: 768px) and (max-width: 1023px) {
    .banner-img {
      height: 10em;
    }
  
    .heading {
      font-size: 3em;
      top: 1.5em;
    }
  
    .btn {
      padding: 1.5em;
    }
  
    #filler-picture {
      width: 250px;
    }
  }
  
  /* Large screens */
  @media (min-width: 1024px) {
    .banner-img {
      height: 12em;
    }
  
    .heading {
      font-size: 3.5em;
      top: 2em;
    }
  
    .btn {
      padding: 2em;
    }
  
    #filler-picture {
      width: 300px;
    }
  }
  
