body {
    margin: 0;
    padding: 0;
    background-color: rgb(56, 80, 123);
}

.banner {
  box-sizing: border-box;
  width: 100%; 
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: solid 3px rgb(222, 118, 14);
  margin-top: 0;
}

.banner-img {
    width: 100%;
    max-height: 12em;
    object-fit: cover;
}

.heading {
    position: absolute;
    font-size: 3.5em;
    color: rgb(28, 63, 126);
    text-shadow: 2px 2px 4px rgba(11, 8, 5, 0.5);
    top: 2em;
    border: 2px solid rgb(222, 118, 14);
    background-color: white;
    padding: 0.25em;
}

#btn {
    padding: 1.2em;
    width: 20em;;
    background-color: rgb(222, 118, 14);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    transition: background-color 0.3s;
}

#btn:active {
    background-color: rgb(192, 102, 10);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
  color: rgb(28, 63, 126);
  text-align: center;
}

.grid-holder {
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
    grid-template-rows: auto;
    grid-gap: 1em;
}

#filler-picture {
    max-width: 100%;
    max-height: 100%;
}

.card {
    border: solid 2px  rgb(222, 118, 14);
    background-color: white;
    margin: 2em;
    padding: 2em;
    justify-content: center;
    align-items: center;
}

.card > h2 {
    margin: 0;
}

.span {
    grid-column: 2 / span 2;
}

.center {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: xx-large;
}

#ingredients, #instructions {
    font-size: 1.5em;
}

.card h2, h3 {
    text-align: center;
    padding-bottom: 0.5em;
}

.search-history {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}

.clear-history-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

#clear-history-btn {
  padding: 0.5em 1em;
  margin-top: 0.5em;
  background-color: rgb(222, 118, 14);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  transition: background-color 0.3s;
  margin: 0 auto; /* Center the button horizontally */
}

#clear-history-btn:hover {
  background-color: rgb(192, 102, 10);
}

.card.ingredients-card,
.card.span {
  text-align: left;
}

/* Small screens */
@media (max-width: 767px) {
    .banner-img {
      height: 8em;
    }
  
    .heading {
      font-size: 2em;
      top: 2.5em;
    }
  
    .btn {
      padding: 1em;
      margin-top: 1em;
    
    }
  
    #filler-picture {
      width: 200px;
    }
  
    .grid-holder {
      display: flex;
      flex-direction: column;
    }
  
    .card {
      margin: 1em;
      padding: 1em;
    }
  }
  
  /* Medium screens */
  @media (min-width: 768px) and (max-width: 1023px) {
    .banner-img {
      height: 10em;
    }
  
    .heading {
      font-size: 3em;
      top: 1.5em;
    }
  
    .btn {
      padding: 1.5em;
    }
  
    #filler-picture {
      width: 250px;
    }
  
    .grid-holder {
      display: flex;
      flex-direction: column;
    }
  
    .card {
      margin: 1em;
      padding: 1em;
    }
  }
  